

form {
    border: 3px solid #f1f1f1;
}


input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin-right: 8px;
    margin-bottom:5px ;
    margin-top:5px ;
    margin-left: 8px ;
    display: list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color:blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover {
    opacity: 0.8;
}


.container {

    border-style: groove;
    margin-left: 750px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-inside: 15px;
    padding: 16px;
}

.imgcontainer {
    text-align: left;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
}