<!DOCTYPE html>
<html lang="en">
<head>
    <title>help</title>
    <link href="css/style1.css" rel="stylesheet">

</head>
<body>

<h2 class="heading">HELP</h2>

<a href="#" >Home</a>
<a href="#" >Refresh</a>

<div class="container">

    <label><b>BATCHNO.</b></label>
    <input type="text" name="batchno" >

    <label><b>PROGRAM</b></label>
    <input type="text" name="program" ><br>

    <label><b>SCHEDULE</b></label>
    <input type="text" name="schedule" >

    <label><b>TRAINER</b></label>
    <input type="text" name="trainer" >

    <button type="submit">Search</button><br>

    <div class="container">

    <table >
        <h3>Search Results</h3>
    <tr>
        <th>Sl.NO</th>
        <th>Batch No.</th>
        <th>Program</th>
        <th>Trainer</th>
        <th>Student count</th>
        <th>Schedule</th>
        <th>Trainer contact</th>
        <th>Mode</th>
        <th>Comments</th>
    </tr>

    </table>
    </div>
</div>
</body>
</html>