<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<div class="imgcontainer">
    <img src="images/social.png" alt="Avatar" class="avatar">
</div>
<form action="/Spring-MVC-LoginForm/login" method="POST" />

<div class="container">

    <h2>Sign in</h2>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" value="Submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
</div>
</form>
</body>
</html>